@charset "UTF-8";
/* CSS Document */

/* Reset browser default styles: */
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
   padding: 0;
   margin: 0;
   font-size: 100%;
   font-weight: normal;
    list-style: none;
}

/* border-box so that border widths aren't added to the total width of the element: */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
   box-sizing: inherit;
}

/* Clearfix to make floated elements behave correctly: */
   .cf:before, .cf:after { content: ""; display: table; }
   .cf:after { clear: both; }
   .cf { zoom: 1; }

/* In order for the percentage heights to work we need this: */
html, body { height:100%; }



body{
	font-family: 'Old Standard TT', serif;
	background-color: black
}

img {
	width: 100%;
	height: auto;
}
.homepic {
	width: 30%;
	float:right;
	margin-top: -17%;
	margin-right: 7%;

}
header {
	 background-color: lightgrey;
	 padding: 30px 0px 30px 0px;
	
}
a{
	text-decoration: none;
	color :black;
}
.title {
	float: left;
	padding: 5px 0px;
	margin:2%;
	font-size: 30pt;
	
	
	
}

li{
	font-size: 20pt;
}


nav1 {
	float: right;
	margin-right:2%;
	
}
nav1 li {
	display: inline-block;
	margin: 23px 0px 0px 30px ;
	border-top: 4px solid white;
	padding: 8px 0px;
	font-size: 20pt
}

h1{
	font-size: 9em;
	margin:15px 0px 0px 0px ;
	text-align: center;
	color:white;

	
}
.border{
	width:70%;
	border-bottom: 9px solid white;
	margin-bottom: 30px;
	margin-top: 20px;
	
}

p{
	font-size: 20pt;
	margin:2%;
	color:white;
}

h2{
	font-size: 5em;
	margin-left: 2%;
	color:white;

	
}
.center{
	padding-top:60px;
}
h3{
	font-size: 5em;
	margin-left: 13%;
	color:white;
	
}

h4{
	font-size: 5em;
	margin:15px 0px 0px 0px ;
	margin-left: 13%;
	color:white;
}

p1{
	font-size: 20pt;
	float:right;
	width: 70%;
	margin-top: -10%;
	color:white;
}

p2{
	font-size: 20pt;
	float:left;
	width: 33%;
	margin:2%;
	color:white;
	
}

h5{
	font-size: 5em;
	margin-left: 2%;
	color:white;
	
}


h6{
	font-size: 5em;
	color:white;
}

h6 span{
	margin-left: 5%;
	
}

.bottom{
	padding-top:60px;
}
@media(max-width:1200px){
	h1{font-size:8em }
	
}
@media(max-width:1000px){
	h1{font-size:7em}
	p1{
	font-size: 15pt;
	float:right;
	width: 60%;
	margin-top: -15%;
}
	p2{
		font-size: 14pt;}
	.title{
		font-size: 25pt;
	}
	nav1 li{
		font-size: 15pt;
	}
}

@media(max-width:800px){
	h1{font-size:6em}

}
@media(max-width:700px){
	h1{font-size:5em}
	p1{
	font-size: 15pt;
	float:right;
	width: 50%;
	margin-top: -20%;
}
	.homepic {
	width: 50%;	
	float: left;
	margin-top: 30px;
	margin-left: 30%;
	
}
	.title{
		font-size: 20pt;
	}
	
}
@media(max-width:600px){
	h1{font-size:4em}
	p1{
	font-size: 15pt;
	float:right;
	margin-top: -30%;
}
	
}
@media(max-width:500px){
	h1{font-size:3em}
}

